.cars {
  overflow-y: auto;
}

.cars__sorting {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.cars__sorting-name {
  font-size: 20px;
  line-height: 1;
}

.cars__sorting-btn {
  height: 10px;
  padding: 15px 10px;
  background-color: transparent;
  border: 2px solid var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 11px;
  color: var(--blue-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.cars__sorting-btn:hover {
  background-color: var(--blue-color);
  color: white;
}

.cars__sorting-btn--active {
  background-color: var(--blue-color);
  color: white;
}
